<hr>

<% if current_user %>
Welcome, <%= current_user.email %>!
<hr>

<%= link_to "Sign up for a lightning talk", user_path(current_user) %>

<div class="panel panel-default">
  <div class="panel-heading">Upcoming Lightning Talks</div>

  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Topic</th>
        <th>Completed</th>
      </tr>
    </thead>
    <% @user_upcoming_talks.each do |talk| %>
      <tr>
        <td><%= talk.user_id %></td>
        <td><%= talk.date %></td>
        <td><%= talk.topics %></td>
        <td><%= talk.completed %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Completed Talks</div>

  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Topic</th>
        <th>Completed</th>
      </tr>
    </thead>
    <% @user_completed_talks.each do |talk| %>
      <tr>
        <td><%= talk.user_id %></td>
        <td><%= talk.date %></td>
        <td><%= talk.topics %></td>
        <td><%= talk.completed %></td>
      </tr>
    <% end %>
  </table>
</div>


<hr>

<% else %>

Nobody is here

<% end %>
