<% if current_user %>

Welcome, <%= @user.name %>

<div class="panel panel-default">
  <div class="panel-heading">Your Past Talks:</div>
<% if @user_talks %>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Topic</th>
        <th>Completed?</th>
      </tr>
    </thead>
  <% @user_talks.each do |talk| %>
  <tr>
    <td><%= talk.date %></td>
    <td><%= talk.topics %></td>
    <td><%= talk.completed %></td>
  </tr>
  <% end %>
<% else %>
  You have no talks. SIGN UP FOR ONE!
<% end %>
  </table>
</div>

<% end %>

<div class= "page-header">
  <h4>Sign Up for a Talk:</h4>
</div>

<%= render 'talks/form' %>


<%= link_to "Back to All Talks", users_path, class: "btn btn-default"  %>
