<!DOCTYPE html>
<html>
<head>
  <title>LightningApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>

  <%= link_to "Sign Out", sign_out_path, method: :delete %>
  <% else %>
  <ul class="nav nav-tabs">
    <li><%= link_to "Sign In", sign_in_path, data: { toggle: "pill" } %></li>
    <li><%= link_to "Sign Up", sign_up_path, data: { toggle: "pill" } %></li>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
