<!DOCTYPE html>
<html>
<head>
  <title>LightningApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <img alt="Lightning" src="assets/lightning.png" class="logo">
          <% if current_user %>
            <%= link_to "Sign Out", sign_out_path, method: :delete, class: "btn btn-default navbar-btn" %>
            <% else %>
              <%= link_to "Sign In with GitHub", "auth/github", class: "btn btn-default navbar-btn" %>
              <%= link_to "Sign Up", sign_up_path, class: "btn btn-default navbar-btn" %>
          <% end %>
        </div>
      </div>
    </nav>

  <div class="jumbotron">
    <h1>g7 Lightning Talk App</h1>
    <p>If you're trying to sign up for a lightning talk, you've come to the right place.<p>
  </div>
<%= yield %>

  </div>
</body>
</html>
